<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/common/reset.css">
    <link rel="stylesheet" href="/static/css/common/common.css">
    <script src="/static/js/common/scripts.js"></script> <!-- 외부 스크립트 파일 링크 -->
</head>
<body>
<header>
    나야 헤더
</header>
<div class="content">
    {{block "content" .}}{{end}} <!-- 각 페이지별로 바뀔 콘텐츠 -->
</div>

</body>
</html>